@use '../dialog.shared' as *;

:host {
  display: block;
}

.dialog {
  min-width: 640px;
  max-width: 700px;
}

.dialog__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.dialog__footer {
  justify-content: flex-end;
  align-items: center;
  margin-top: 0.75rem;

  app-button {
    min-width: 160px;
  }
}
