<div class="organisations-table">
  <table>
    <thead>
      <tr>
        <th class="col-name">Organisation</th>
        <th class="col-type">Type</th>
        <th class="col-actions">Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (organisation of organisations; track organisation.id) {
        <tr>
          <td class="col-name">
            <button type="button" class="organisation-link" (click)="onView(organisation)">
              {{ organisation.name }}
            </button>
          </td>

          <td class="col-type">
            {{ organisation.type }}
          </td>

          <td class="actions">
            @if (isAdmin) {
              <button
                class="icon-button"
                type="button"
                aria-label="Edit organisation"
                (click)="onEdit(organisation)"
              >
                <img src="assets/icons/common/edit.svg" alt="" width="18" height="18" />
              </button>

              <button
                class="icon-button danger"
                type="button"
                aria-label="Delete organisation"
                (click)="onDelete(organisation.id)"
              >
                <img src="assets/icons/common/delete.svg" alt="" width="18" height="18" />
              </button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
