<div class="participants-table">
  <table>
    <thead>
      <tr>
        <th class="col-name">Participant</th>
        <th class="col-role">Role</th>
        <th class="col-actions">Actions</th>
      </tr>
    </thead>

    <tbody>
      @if (participants.length) {
        @for (participant of participants; track participant.id) {
          <tr>
            <td class="col-name">
              <button type="button" class="participant-link" (click)="onView(participant)">
                {{ participant.name }}
              </button>
            </td>

            <td class="col-role">
              {{ participant.role ?? '-' }}
            </td>

            <td class="actions">
              @if (isAdmin) {
                <button
                  class="icon-button"
                  type="button"
                  aria-label="Edit participant"
                  (click)="onEdit(participant)"
                >
                  <img src="assets/icons/common/edit.svg" alt="" width="18" height="18" />
                </button>

                <button
                  class="icon-button danger"
                  type="button"
                  aria-label="Delete participant"
                  (click)="onDelete(participant.id)"
                >
                  <img src="assets/icons/common/delete.svg" alt="" width="18" height="18" />
                </button>
              }
            </td>
          </tr>
        }
      } @else {
        <tr>
          <td colspan="3" class="table-empty">No participants added yet.</td>
        </tr>
      }
    </tbody>
  </table>
</div>
