.console-layout {
  display: grid;
  grid-template-columns: 310px 1fr;
  height: 100vh;
  background: var(--color-background);
}

.console-layout__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.console-layout__page {
  flex: 1;
  overflow-y: auto;
  padding: 24px;
}
