<div class="sports-table">
  <table>
    <thead>
      <tr>
        <th class="col-sport">Sport</th>
        <th class="col-actions">Actions</th>
      </tr>
    </thead>

    <tbody>
      @for (sport of sports; track sport.id) {
        <tr>
          <td class="col-sport">
            <button type="button" class="sport-link" (click)="onView(sport)">
              {{ sport.name }}
            </button>
          </td>

          <td class="actions">
            @if (isAdmin) {
              <button
                class="icon-button"
                type="button"
                aria-label="Edit sport"
                (click)="onEdit(sport)"
              >
                <img src="assets/icons/common/edit.svg" alt="" width="18" height="18" />
              </button>

              <button
                class="icon-button danger"
                type="button"
                aria-label="Delete sport"
                (click)="onDelete(sport.id)"
              >
                <img src="assets/icons/common/delete.svg" alt="" width="18" height="18" />
              </button>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
