.sports-toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sports-toolbar__heading {
  display: none;
}

.sports-toolbar__actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 380px;
}

app-input {
  flex: 1;
}
